// White - Black
$white: #fff;
$gray-0: #f4f5f7;
$gray-1: #e9ecef;
$gray-2: #dee2e6;
$gray-3: #ced4da;
$gray-4: #adb5bd;
$gray-5: #6c757d;
$gray-6: #495057;
$gray-7: #343a40;
$gray-8: #212529;
$black: #000;

// Primary Colors
$color-primary-1: #a9d6e5;
$color-primary-2: #89c2d9;
$color-primary-3: #61a5c2;
$color-primary-4: #468faf;
$color-primary-5: #2c7da0;
$color-primary-6: #2a6f97;
$color-primary-7: #014f86;
$color-primary-8: #01497c;
$color-primary-9: #013a63;
$color-primary-10: #012a4a;
